.container-prin {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}

.principal {
  margin: 3rem 2rem;
}

.Perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 30px;
}

.sobre {
  max-width: 100%;
  width: auto;
  margin-bottom: 2rem;
  text-align: left;
}

.perfil-img {
  height: 33rem;
  width: 22rem;
  object-fit: cover;
}

.sobre h1 {
  color: #2d2e32;
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 7rem;
}

.sobre p {
  color: #555;
  font-family: Mulish, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  flex-basis: 100%;
}

.sobre-mim {
  margin-bottom: 20px;
}

.sobre img {
  height: 4rem;
  width: 4rem;
}

.sobre-links {
  display: flex;
  gap: 10px;
}

.sobre-links a {
  color: #2d2e32;
}

.skills {
  display: flex;
  justify-content: center;
}

.skills ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.skills ul li {
  cursor: pointer;
}

.skills ul li img {
  transition: all 0.3s ease-in-out;
}

.skills img {
  width: 8rem;
  height: 4rem;
}

.skills ul li img:hover {
  transform: translateY(-10px);
}

.hard-skill {
  display: flex;
  align-items: center;
}

.hard-skill p {
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  color: #2d2e32;
  font-family: Mulish, sans-serif;
  font-weight: 600;
  margin-right: 4rem;
  padding-right: 1rem;
}

@media (max-width: 900px) {
  .principal {
    align-items: center;

    margin: 1px;
    height: auto;
  }

  .perfil-container {
    margin-bottom: 20px;
  }

  .Perfil {
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
    gap: 1px;
    margin-top: 20px;
  }

  .perfil-img {
    height: 20rem;
    width: 38rem;
  }

  .principal h1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 4rem;
    line-height: 1;
  }

  .conteudo-container {
    text-align: center;
  }

  .sobre {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    width: 100%;
  }

  .sobre-mim {
    margin-bottom: 20px;
  }

  .sobre-links {
    gap: 20px;
  }

  .hard-skill {
    flex-direction: column;
    align-items: center;
  }

  .hard-skill p {
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    border-right: none;
    margin-bottom: 2rem;
    margin-right: 0;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    padding-right: 0;
  }

  .skills ul {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20rem;
    gap: 10px;
  }

  .skills ul li {
    margin: 0 auto;
  }
}

@media (max-width: 620px) {
  .principal {
    align-items: center;

    margin: 1px;
    height: auto;
  }

  .perfil-container {
    margin-bottom: 20px;
  }

  .Perfil {
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
    gap: 1px;
    margin-top: 20px;
  }

  .perfil-img {
    height: 20rem;
    width: 38rem;
  }

  .conteudo-container {
    text-align: center;
  }

  .sobre {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .sobre-mim {
    margin-bottom: 20px;
  }

  .sobre-links {
    gap: 20px;
  }

  .hard-skill {
    flex-direction: column;
    align-items: center;
  }

  .hard-skill p {
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    border-right: none;
    margin-bottom: 2rem;
    margin-right: 0;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    padding-right: 0;
  }

  .skills ul {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20rem;
    gap: 10px;
  }

  .skills ul li {
    margin: 0 auto;
  }
}
