.container-nav {
  height: 60px;
  width: 100vw;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: rgb(0, 0, 0);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);

  position: fixed;
}
.container-nav h3 {
  color: #2d2e32;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.menu ul li a {
  cursor: pointer;
  color: #2d2e32;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.23s;
}

.menu button {
  height: 50px;
  width: 50px;
  border-radius: 50px 10px;
  border: none;
  background-color: rgb(255, 255, 255);
}

.menu button a {
  color: rgb(0, 0, 0);
}

.menu ul li a:hover {
  color: rgb(7, 121, 252);
}

@media (max-width: 900px) {
  .container-nav {
    height: 35px;
    width: 100vw;
  }
}
