.container-nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px;
  color: rgb(0, 0, 0);
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.menu ul li {
  cursor: pointer;
}

.menu button {
  height: 50px;
  width: 50px;
  border-radius: 50px 10px;
  border: none;
  background-color: rgb(255, 255, 255);
}

.menu button a {
  color: rgb(0, 0, 0);
}

.menu button:hover {
  background-color: rgb(151, 151, 151);
  color: rgb(14, 202, 7);
}

.menu ul li:hover {
  color: rgb(14, 202, 7);
}
